{{ define "content" }}
<h2 class="mb-6 text-center text-2xl font-bold">Forgot Password?</h2>
<p class="mb-4 text-center text-gray-600">
  Enter your email below, and we will send you a link to log in to your account. Once logged in, you can change your
  password anytime on the
  <a href="/settings" class="text-blue-500 hover:underline">Settings</a> page.
</p>

<form action="/forgot-password" method="POST" class="mx-auto max-w-md rounded-xl bg-white p-6 shadow">
  <!-- prettier-ignore -->
  {{ template "components/input_field" dict
    "Label" "Email"
    "Type" "email"
    "Name" "email"
    "ID" "email"
    "Value" .Form.Email
    "Errors" .Errors.Email
  }}

  {{ template "components/errors" .Errors.Common}}

  <!-- prettier-ignore -->
  <button
    id="resend-button"
    class="mt-4 rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-700"
    type="submit"
    {{ if .TimeUntilResend }}disabled{{ end }}
  >
    Send Login Link
  </button>

  {{ if .SaveOk }} {{ template "components/save_notification" "Email sent"}} {{ end }}
  <!-- prettier-ignor -->
  {{ if .TimeUntilResend }} {{ template "components/time_until_resend" .TimeUntilResend }} {{ end }}
</form>

<!-- prettier-ignore -->
{{ end }}
