{{define "layout"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
    <link rel="manifest" href="/img/site.webmanifest" />

    <title>{{ .Title }}</title>
    <link href='/css/output.css?v={{fileVersion "/css/output.css"}}' rel="stylesheet" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/alpinejs" defer></script> -->
    <script src="/js/htmx.2.0.3.min.js"></script>
    <style>
      .htmx-request {
        pointer-events: none;
      }
    </style>
  </head>
  <body class="flex h-screen flex-col bg-gray-100 font-sans">
    <!-- svg -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      <defs>
        <!-- <symbol id="spinner-icon" viewBox="0 0 100 101">
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor"
          />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill"
          />
        </symbol> -->
        {{/* https://heroicons.com/ */}}
        <symbol id="icon-close" viewBox="0 0 14 14">
          <path
            d="M13.939,1L8.007,6.933L14,12.927L12.927,14L6.933,8.007l-5.919,5.92l-0.966-0.966l5.92-5.92L0,1.074L1.074,0l5.967,5.967l5.934-5.934L13.939,1z"
            fill="currentColor"
          />
        </symbol>
        <symbol id="icon-play" viewBox="0 0 20 20" fill="currentColor">
          <path
            d="M6.3 2.84A1.5 1.5 0 0 0 4 4.11v11.78a1.5 1.5 0 0 0 2.3 1.27l9.344-5.891a1.5 1.5 0 0 0 0-2.538L6.3 2.841Z"
          />
        </symbol>
        <symbol id="icon-stop" viewBox="0 0 20 20" fill="currentColor">
          <path
            d="M5.25 3A2.25 2.25 0 0 0 3 5.25v9.5A2.25 2.25 0 0 0 5.25 17h9.5A2.25 2.25 0 0 0 17 14.75v-9.5A2.25 2.25 0 0 0 14.75 3h-9.5Z"
          />
        </symbol>
        <symbol id="icon-edit" viewBox="0 0 20 20" fill="currentColor">
          <path
            d="m2.695 14.762-1.262 3.155a.5.5 0 0 0 .65.65l3.155-1.262a4 4 0 0 0 1.343-.886L17.5 5.501a2.121 2.121 0 0 0-3-3L3.58 13.419a4 4 0 0 0-.885 1.343Z"
          />
        </symbol>
        <symbol id="icon-delete" viewBox="0 0 20 20" fill="currentColor">
          <path
            d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z"
          />
        </symbol>
      </defs>
    </svg>
    <!-- Global preloader -->
    <div
      id="global-preloader"
      class="fixed left-0 top-0 z-50 hidden h-1 w-0 animate-bounce bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 transition-[width] duration-200 ease-out"
    ></div>

    <!-- Header -->
    <header class="bg-white shadow">
      <div class="mx-auto flex max-w-7xl items-center justify-between px-4 py-6 sm:px-6 lg:px-8">
        <div class="flex items-center space-x-3">
          <a href="/">
            <img src="/img/favicon-32x32.png" alt="Logo" />
          </a>
          <h1 class="text-3xl font-bold text-gray-900">
            <a href="/">Time Tracker</a>
          </h1>
        </div>

        <nav class="space-x-4">
          {{ if .User }}
          <div class="group relative inline-block">
            <span class="cursor-pointer text-gray-500 hover:text-gray-900"> {{ .User.Name }} </span>
            <div
              class="absolute right-0 z-10 hidden w-48 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 group-hover:block"
            >
              <div class="py-1">
                <form action="/logout" method="POST" class="inline">
                  <button
                    type="submit"
                    class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
                  >
                    Log Out
                  </button>
                </form>
              </div>
            </div>
          </div>
          <a href="/dashboard" class="text-gray-500 hover:text-gray-900">Dashboard</a>
          {{ else }}
          <a href="/login" class="text-gray-500 hover:text-gray-900">Log In</a>
          <a href="/signup" class="text-gray-500 hover:text-gray-900">Sign Up</a>
          {{ end }}
        </nav>
      </div>
    </header>

    <!-- Main content -->
    <main class="flex-grow">
      <div class="mx-auto py-6 sm:px-6 lg:px-8">{{ block "content" . }}{{ end }}</div>
    </main>

    <!-- Footer -->
    <footer class="bottom-0 w-full bg-white">
      <div class="mx-auto max-w-7xl overflow-hidden px-4 py-4 sm:px-6 lg:px-8">
        <p class="text-center text-sm text-gray-500">© 2024 Time Tracker. All rights reserved.</p>
      </div>
    </footer>

    <!-- Global preloader: Spinner -->
    <!-- <div
      id="global-preloader"
      class="fixed inset-0 z-50 flex hidden items-center justify-center bg-gray-800 bg-opacity-50"
    >
      <svg class="h-8 w-8 animate-spin fill-blue-600 text-gray-200 dark:text-gray-600">
        <use xlink:href="#spinner-icon"></use>
      </svg>
    </div> -->

    <!-- Modal window -->
    <div id="modal" class="fixed inset-0 z-50 flex hidden items-center justify-center bg-gray-800 bg-opacity-50">
      <div class="relative w-1/3 rounded-lg bg-white p-6 shadow-lg">
        <!-- Close button -->
        <button
          onclick="closeModal()"
          class="absolute right-2 top-2 text-gray-500 hover:text-gray-800 focus:outline-none"
        >
          <svg class="h-4 w-4">
            <use xlink:href="#icon-close"></use>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
        <!-- Modal content -->
        <div id="modal-content"></div>
      </div>
    </div>

    <script>
      // Global preloader
      document.addEventListener("htmx:beforeRequest", function () {
        const preloader = document.getElementById("global-preloader");
        preloader.classList.remove("hidden");
        setTimeout(() => {
          preloader.classList.remove("w-0");
          preloader.classList.add("w-full");
        }, 1);
      });
      document.addEventListener("htmx:afterRequest", function () {
        const preloader = document.getElementById("global-preloader");
        preloader.classList.add("hidden");
        preloader.classList.add("w-0");
        preloader.classList.remove("w-full");
      });

      // Modal window
      function openModal() {
        document.getElementById("modal").classList.remove("hidden");
      }
      function closeModal() {
        document.getElementById("modal").classList.add("hidden");
        document.getElementById("modal-content").innerHTML = "";
      }
      document.addEventListener("htmx:afterOnLoad", function (event) {
        if (event.detail.target.id === "modal-content") {
          openModal();
        }
      });
      document.body.addEventListener("close-modal", function (evt) {
        closeModal();
      });
    </script>
  </body>
</html>
{{ end }}
