{{ define "content" }}
<h2 class="mb-6 text-center text-2xl font-bold">Sign Up</h2>

<form action="/signup" method="POST" class="mx-auto max-w-md rounded-xl bg-white p-6 shadow">
  <!-- prettier-ignore -->
  {{ template "components/inputField" dict
    "Label" "Name"
    "Type" "text"
    "Name" "name"
    "ID" "name"
    "Value" .Form.Name
    "Errors" .Errors.Name
  }}
  {{ template "components/inputField" dict
    "Label" "Email"
    "Type" "email"
    "Name" "email"
    "ID" "email"
    "Value" .Form.Email
    "Errors" .Errors.Email
  }}
  {{ template "components/inputField" dict 
    "Label" "Password"
    "Type" "password"
    "Name" "password"
    "ID" "password"
    "Value" .Form.Password
    "Errors" .Errors.Password
  }}
  {{ template "components/inputField" dict
    "Label" "Confirm Password"
    "Type" "password"
    "Name" "password_confirmation"
    "ID" "password_confirmation"
    "Value" .Form.PasswordConfirmation
    "Errors" .Errors.PasswordConfirmation
  }}

  {{ template "components/errors" .Errors.Common}}

  <button
    type="submit"
    class="focus:shadow-outline rounded-xl bg-blue-500 px-4 py-2 font-bold text-white shadow hover:bg-blue-700 focus:outline-none"
  >
    Sign Up
  </button>
</form>
{{ end }}
