{{ define "content" }}
<div class="flex h-full">
  <!-- Left column (Tasks) -->
  <div class="w-1/4 min-w-60 border-r border-gray-300 pr-4">
    <!-- Task list -->
    {{ template "dashboard/task_list" . }}

    <!-- Create new task button -->
    <div class="m-1 mt-6">
      <button
        class="w-full rounded-lg bg-indigo-400 py-2 text-white shadow-md hover:bg-indigo-700"
        hx-get="/tasks/new"
        hx-target="#modal-content"
        hx-trigger="click"
        hx-swap="innerHTML"
      >
        Create Task
      </button>
    </div>
  </div>

  <!-- Right column (Records) -->
  <div class="w-3/4 pl-4">
    <!-- List of records -->
    <div hx-get="/records" hx-trigger="load-records from:body" hx-swap="innerHTML" class="space-y-4">
      {{ template "dashboard/record_list" . }}
    </div>
  </div>
</div>

<script>
  {
    let draggedElement = null;

    function dragStart(event) {
      draggedElement = event.target;
      event.dataTransfer.effectAllowed = "move";
    }

    function dragOver(event) {
      event.preventDefault();
      event.dataTransfer.dropEffect = "move";

      const droppedElement = event.target.closest(".task-item");

      if (draggedElement !== droppedElement && droppedElement) {
        const draggedIndex = Array.from(droppedElement.parentNode.children).indexOf(draggedElement);
        const droppedIndex = Array.from(droppedElement.parentNode.children).indexOf(droppedElement);

        if (draggedIndex < droppedIndex) {
          droppedElement.parentNode.insertBefore(draggedElement, droppedElement.nextSibling);
          draggedElement.classList.add("-translate-y-full");
          setTimeout(() => {
            draggedElement.classList.remove("-translate-y-full");
          }, 1);
        } else {
          droppedElement.parentNode.insertBefore(draggedElement, droppedElement);
          draggedElement.classList.add("translate-y-full");
          setTimeout(() => {
            draggedElement.classList.remove("translate-y-full");
          }, 1);
        }
      }
    }

    function drop(event) {
      event.preventDefault();
    }

    function dragEnd(event) {
      draggedElement = null;
      updateTaskOrder();
    }

    function updateTaskOrder() {
      const sortOrders = [];
      const taskItems = document.querySelectorAll(".task-item");

      taskItems.forEach((task, index) => {
        sortOrders.push({
          id: Number(task.dataset.taskId),
          sortOrder: index + 1,
        });
      });

      fetch("/tasks/update-sort-order", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(sortOrders),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("Order updated:", data);
          htmx.trigger(document.body, "load-tasks");
        })
        .catch((error) => {
          console.error("Error updating order:", error);
        });
    }
  }
</script>
{{ end }}
