{{ define "dashboard/form_task" }}
<form id="form-task" hx-post="/tasks/save" hx-target="#modal-content" hx-swap="innerHTML" hx-trigger="submit">
  <!-- prettier-ignore -->
  {{ template "components/inputField" dict 
    "Label" "Title"
    "Type" "text"
    "Name" "title"
    "ID" "title"
    "Value" .Form.Title
    "Errors" .Errors.Title
  }}
  {{ template "components/inputField" dict
    "Label" "Description"
    "Type" "text"
    "Name" "description"
    "ID" "description"
    "Value" .Form.Description
    "Errors" .Errors.Description
  }}
  {{ template "components/inputField" dict
    "Label" "Color"
    "Type" "color"
    "Name" "color"
    "ID" "color"
    "Value" .Form.Color
    "Errors" .Errors.Color
    "Class" "w-full rounded border-gray-300"
  }}

  <div class="mt-4 text-right">
    <button type="submit" class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-700">Save</button>
    <button type="button" class="rounded px-4 py-2 text-gray-700 hover:bg-gray-200" onclick="closeModal()">
      Cancel
    </button>
  </div>
</form>
{{ end }}
