<!-- prettier-ignore -->
{{ define "dashboard/record_list" }}
<div
  id="records-list"
  hx-get="/records{{ if .Week }}?week={{ .Week }}{{ end }}"
  hx-trigger="load-records from:body"
  hx-swap="outerHTML"
  class="space-y-4"
>
  <!-- Navigation -->
  {{ template "dashboard/record_list_navigation" . }}

  <!-- DailyRecords -->
  {{ range .DailyRecords}}

  <div
    class='space-y-2 overflow-hidden rounded-lg border-gray-300 border{{ if eq (.Day.Format "2006-01-02") ($.NowWithTimezone.Format "2006-01-02") }}bg-yellow-50 border-yellow-200 border-2 shadow-lg{{ end }}'
  >
    <!-- Day Header -->
    <div class="flex items-center justify-between px-4 py-2">
      <!-- Date -->
      <div
        class='text-center w-full text-lg font-semibold {{ if or (eq .Day.Weekday.String "Saturday") (eq .Day.Weekday.String "Sunday") }}text-red-600{{ end }}'
      >
        {{ .Day.Format "2 Jan 2006 (Mon)"}}
      </div>
      <!-- Play Button -->
      <button
        class="rounded-full bg-green-100 p-2 hover:bg-green-200"
        hx-get="/records/new?date={{.Day.Format "2006-01-02"}}"
        hx-target="#modal-content"
        hx-trigger="click"
        hx-swap="innerHTML"
      >
        <svg class="size-4 text-green-600">
          <use xlink:href="#icon-play"></use>
        </svg>
      </button>
    </div>

    <!-- Record List -->
    <div class="relative">
      <!-- Red vertical timer line  -->
      {{ if eq (.Day.Format "2006-01-02") ($.NowWithTimezone.Format "2006-01-02") }}
      <div
        id="time-indicator"
        class="absolute top-0 z-10 h-full bg-red-500 opacity-50"
        style="left: 0; width: 1px"
      ></div>
      <script>
        function updateTimeIndicator() {
          const indicator = document.getElementById("time-indicator");
          if (!indicator) return;
          const now = new Date();
          const currentMinutes = now.getHours() * 60 + now.getMinutes();
          const percent = (currentMinutes / 1440) * 100; // 1440 = 24 * 60
          indicator.style.left = percent + "%";
          // indicator.innerHTML = now.getHours() + ":" + now.getMinutes();
        }
        document.addEventListener("htmx:afterSettle", function (event) {
          if (event.detail.target.id === "records-list") {
            updateTimeIndicator();
          }
        });
        updateTimeIndicator();
        setInterval(updateTimeIndicator, 6000); // Update every minute
      </script>
      {{ end}} {{/* Red vertical timer line */}}

      <!-- List Records -->
      {{ range .Records }}
      <div class="relative flex items-center space-x-3 rounded-lg border border-gray-200 bg-white p-3 shadow-md">
        <!-- Progressbar -->
        <!-- prettier-ignore -->
        <div
          class="absolute top-0 h-1.5 rounded-lg cursor-pointer group min-w-1 {{ if not .TimeEnd }}animate-pulse{{ end }}"
          style="background-color: {{ .Task.Color }}; left: {{ .StartPercent }}%; width: {{ .DurationPercent }}%"
        >
          <div  class="transition-all duration-200 flex w-full justify-between whitespace-nowrap pt-1 text-xs group-hover:overflow-visible group-hover:text-sm group-hover:font-medium">
            <span>{{ .TimeStartIntraday.Format "15:04" }} </span>
            <span>&nbsp;({{ formatDuration .Duration }})&nbsp;</span>
            <span>
              {{ .TimeEndIntraday.Format "15:04" }}
              {{ if not .TimeEnd }}
              <span class="absolute left-full pl-1">...</span>
              {{ end }}
            </span>
          </div>
        </div>

        <!-- Task.Title, Time, Comment -->
        <div class="flex-grow">
          <div class="font-bold">{{ .Task.Title }}</div>
          <div class="mt-2 whitespace-pre-wrap">{{ .Comment }}</div>
        </div>

        <!-- Stop -->
        {{ if not .TimeEnd}}
        <form
          hx-post="/records/{{ .ID }}"
          hx-swap="innerHTML"
          hx-target="#modal-content"
          hx-trigger="submit"
          onsubmit="setTimeEndBeforeSubmit(this)"
        >
          <input type="hidden" name="task_id" value="{{ .TaskID }}" />
          <input type="hidden" name="time_start" value="{{ formatTimeForInput .TimeStart}}" />
          <input type="hidden" name="time_end" />
          <input type="hidden" name="comment" value="{{ .Comment }}" />
          <button class="rounded-full bg-green-100 p-2 hover:bg-green-200">
            <svg class="size-4 text-green-600">
              <use xlink:href="#icon-stop"></use>
            </svg>
          </button>
        </form>
        <script>
          function setTimeEndBeforeSubmit(form) {
            const timeEndInput = form.querySelector('input[name="time_end"]');
            if (timeEndInput) {
              const now = new Date();
              timeEndInput.value = new Date(now.getTime() - now.getTimezoneOffset() * 60000).toISOString().slice(0, 16);
            }
          }
        </script>
        {{ end}}

        <!-- Edit -->
        <button
          class="rounded-full bg-blue-100 p-2 hover:bg-blue-200"
          hx-get="/records/{{ .ID }}"
          hx-target="#modal-content"
          hx-swap="innerHTML"
        >
          <svg class="size-4 text-blue-600">
            <use xlink:href="#icon-edit"></use>
          </svg>
        </button>

        <!-- Delete -->
        <button
          hx-delete="/records/{{ .ID }}"
          hx-swap="none"
          hx-confirm="Are you sure you wish to delete your record?"
          class="rounded-full bg-red-100 p-2 hover:bg-red-200"
        >
          <svg class="size-4 text-red-600">
            <use xlink:href="#icon-delete"></use>
          </svg>
        </button>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>
<!-- prettier-ignore -->
{{ end }}
