{{ define "content" }}
<div id="reports-content" class="">
  <!-- Navigation -->
  <div class="mb-6 flex items-center justify-center space-x-4">
    <!-- Previous Month -->
    <a
      href="/reports?month={{ .PreviousMonth }}"
      class="text-blue-500 hover:underline"
      hx-get="/reports?month={{ .PreviousMonth }}"
      hx-target="#reports-content"
      hx-swap="outerHTML"
      >&laquo; Previous Month</a
    >
    <!-- Current Month Selector -->
    <form class="flex items-center space-x-2">
      <input
        type="month"
        name="month"
        value="{{ .Month }}"
        class="focus:shadow-outline w-full appearance-none rounded-xl border border-gray-300 bg-white px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none focus:ring-1 focus:ring-gray-500"
        hx-get="/reports"
        hx-target="#reports-content"
        hx-swap="outerHTML"
        hx-trigger="change"
      />
    </form>
    <!-- Next Month -->
    <a
      href="/reports?month={{ .NextMonth }}"
      class="text-blue-500 hover:underline"
      hx-get="/reports?month={{ .NextMonth }}"
      hx-target="#reports-content"
      hx-swap="outerHTML"
      >Next Month &raquo;</a
    >
  </div>

  <div class="space-y-8 text-gray-600">
    <div class="overflow-x-auto">
      <table class="w-full border-collapse rounded-lg border border-gray-300 bg-white shadow-md">
        <thead>
          <tr class="bg-gray-200 text-xs">
            <th class="border border-gray-300 px-2 py-1 text-left">Task</th>
            {{ range .Days }}
            <th
              class='whitespace-nowrap border border-gray-300 px-2 py-1 text-center 
                {{ if or (eq .Weekday.String "Saturday") (eq .Weekday.String "Sunday") }}bg-red-100{{ end }}'
            >
              {{ .Format "Mon 2" }}
            </th>
            {{ end }}
            <th class="border border-gray-300 px-2 py-1 text-right">Total</th>
          </tr>
        </thead>
        <tbody>
          {{ range $row := .ReportRows }}
          <tr class="text-sm odd:bg-gray-50 even:bg-white">
            <!-- Task.Title -->
            <td class="max-w-80 truncate whitespace-nowrap border border-gray-300 px-2 py-1 text-left">
              <span class="mr-2 inline-block h-4 w-4 rounded-full" style="background-color: {{ .Task.Color }}"></span>
              {{ .Task.Title }}
            </td>

            <!-- Duration -->
            {{ range $day := $.Days }}
            <td
              class='whitespace-nowrap border border-gray-300 px-2 py-1 text-center
                {{ if or (eq .Weekday.String "Saturday") (eq .Weekday.String "Sunday") }}bg-red-100{{ end }}'
            >
              {{ with $duration := index $row.DailyDurations $day }} {{ formatDuration $duration }}{{ else }}-{{ end }}
            </td>
            {{ end }}

            <!-- TotalDuration -->
            <td class="whitespace-nowrap border border-gray-300 px-2 py-1 text-right">
              {{ formatDuration .TotalDuration }}
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{ end }}
