{{ define "content" }}
<div id="reports-content" class="">
  <!-- Navigation -->
  <div class="mb-6 flex items-center justify-center space-x-4">
    <!-- Previous Month -->
    <a
      href="/reports?month={{ .PreviousMonth }}"
      class="text-blue-500 hover:underline"
      hx-get="/reports?month={{ .PreviousMonth }}"
      hx-target="#reports-content"
      hx-swap="outerHTML"
      >&laquo; Previous Month</a
    >
    <!-- Current Month Selector -->
    <form class="flex items-center space-x-2">
      <input
        type="month"
        name="month"
        value="{{ .Month }}"
        class="focus:shadow-outline w-full appearance-none rounded-xl border border-gray-300 bg-white px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none focus:ring-1 focus:ring-gray-500"
        hx-get="/reports"
        hx-target="#reports-content"
        hx-swap="outerHTML"
        hx-trigger="change"
      />
    </form>
    <!-- Next Month -->
    <a
      href="/reports?month={{ .NextMonth }}"
      class="text-blue-500 hover:underline"
      hx-get="/reports?month={{ .NextMonth }}"
      hx-target="#reports-content"
      hx-swap="outerHTML"
      >Next Month &raquo;</a
    >
  </div>

  <div class="space-y-8 text-xs">
    <div class="overflow-x-auto">
      <table class="w-full border-collapse rounded-lg border border-gray-300 bg-white shadow-md">
        <thead>
          <tr class="bg-gray-200">
            <th class="border border-gray-300 px-1 py-1 text-left">Task</th>
            {{ range .ReportData.Days }}
            <th
              class='whitespace-nowrap border border-gray-300 px-1 py-1 text-center 
                {{ if or (eq .Weekday.String "Saturday") (eq .Weekday.String "Sunday") }}bg-red-100{{ end }}'
            >
              {{ .Format "Mon 2" }}
            </th>
            {{ end }}
            <th class="border border-gray-300 px-1 py-1 text-right">Total</th>
          </tr>
        </thead>

        <tbody>
          {{ range $row := .ReportData.ReportRows }}
          <tr class="odd:bg-gray-50 even:bg-white">
            <!-- Task.Title -->
            <td class="max-w-60 truncate whitespace-nowrap border border-gray-300 px-1 py-1 text-left font-bold">
              <span class="mr-2 inline-block h-4 w-4 rounded-full" style="background-color: {{ .Task.Color }}"></span>
              {{ .Task.Title }}
            </td>

            <!-- Duration -->
            {{ range $day := $.ReportData.Days }}
            <td
              class='whitespace-nowrap border border-gray-300 px-1 py-1 text-center
                {{ if or (eq .Weekday.String "Saturday") (eq .Weekday.String "Sunday") }}bg-red-100{{ end }}'
            >
              {{ with $duration := index $row.DailyDurations $day }} {{ formatDuration $duration }}{{ else }}-{{ end }}
            </td>
            {{ end }}

            <!-- TotalDuration -->
            <td class="whitespace-nowrap border border-gray-300 px-1 py-1 text-right font-bold">
              {{ formatDuration .TotalDuration }}
            </td>
          </tr>
          {{ end }}
        </tbody>

        <tfoot>
          <tr class="bg-gray-200">
            <th class="border border-gray-300 px-1 py-1 text-left">Total</th>
            {{ range $day := .ReportData.Days }}
            <th
              class='whitespace-nowrap border border-gray-300 px-1 py-1 text-center 
                {{ if or (eq .Weekday.String "Saturday") (eq .Weekday.String "Sunday") }}bg-red-100{{ end }}'
            >
              {{ with $duration := index $.ReportData.DailyTotalDuration $day }} {{ formatDuration $duration }} {{ else
              }}-{{ end }}
            </th>
            {{ end }}
            <th class="border border-gray-300 px-1 py-1 text-right">{{ .ReportData.TotalDuration }}</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- Pie Chart -->
    <div class="mt-8 flex justify-center">
      <div class="h-64 w-64">
        <div
          class="h-64 w-64 rounded-full"
          style="
            background: conic-gradient(
              {{ $currentOffset := 0.0 }}
              {{ $total := len .ReportData.ReportRows }}
              {{ range $index, $row := .ReportData.ReportRows }}
              {{ $row.Task.Color }} {{$currentOffset}}% {{add $currentOffset $row.DurationPercent }}%
              {{ if ne (addInt $index 1) $total }},{{ end }}
              {{ $currentOffset = add $currentOffset $row.DurationPercent }}
              {{ end }}
            );
          "
        ></div>

        <!-- Legend -->
        <div class="mt-4 flex flex-col items-start space-y-2">
          {{ range .ReportData.ReportRows }}
          <div class="flex items-center">
            <span
              class="mr-2 inline-block h-3 w-3 shrink-0 rounded-full"
              style="background-color: {{ .Task.Color }}"
            ></span>
            <span class="text-xs"> {{ .Task.Title }} ({{ printf "%.1f%%" .DurationPercent }}) </span>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
