<!-- prettier-ignore -->
{{ define "dashboard/task_list" }}

<div
  id="task-list"
  hx-get="/tasks{{ if .taskCompleted }}?taskCompleted={{ .taskCompleted }}{{ end }}"
  hx-trigger="load-tasks from:body"
  hx-swap="outerHTML"
>
  <!-- Task filter -->
  <div class="m-1 mb-4 flex items-center space-x-2 text-white">
    <button
      hx-get="/tasks"
      hx-target="#task-list"
      class="{{ if not .taskCompleted }}bg-indigo-600{{ else }}bg-indigo-400{{ end }} hover:bg-indigo-700 rounded-lg p-2 flex-1"
    >
      Active
    </button>
    <button
      hx-get="/tasks?taskCompleted=completed"
      hx-target="#task-list"
      class='{{ if eq .taskCompleted "completed" }}bg-indigo-600{{ else }}bg-indigo-400{{ end }} hover:bg-indigo-700 rounded-lg p-2 flex-1'
    >
      Completed
    </button>
    <button
      hx-get="/tasks?taskCompleted=all"
      hx-target="#task-list"
      class='{{ if eq .taskCompleted "all" }}bg-indigo-600{{ else }}bg-indigo-400{{ end }} hover:bg-indigo-700 rounded-lg p-2 flex-1'
    >
      All
    </button>
  </div>

  <!-- Task list -->
  {{ range .Tasks }}
  <div
    id="task-{{ .ID }}"
    class="task-item m-1 flex cursor-grab items-center space-x-3 rounded-lg border border-gray-200 bg-white p-2 shadow-md transition-all duration-200"
    data-task-id="{{ .ID }}"
    draggable="true"
    ondragstart="dragStart(event)"
    ondragover="dragOver(event)"
    ondrop="drop(event)"
    ondragend="dragEnd(event)"
  >
    <!-- Color -->
    <div class="rounded-full p-4" style="background-color: {{ .Color }};"></div>

    <!-- Title -->
    <span class="hidden truncate lg:inline {{ if .IsCompleted }}line-through{{ end }}">{{ .Title }}</span>
    <span class="flex-grow"></span>

    <!-- Play -->
    <button class="rounded-full bg-green-100 p-2 hover:bg-green-200">
      <svg class="size-4 text-green-600">
        <use xlink:href="#icon-play"></use>
      </svg>
    </button>

    <!-- Edit -->
    <button
      class="rounded-full bg-blue-100 p-2 hover:bg-blue-200"
      hx-get="/tasks/{{ .ID }}"
      hx-target="#modal-content"
      hx-swap="innerHTML"
      hx-trigger="click"
    >
      <svg class="size-4 text-blue-600">
        <use xlink:href="#icon-edit"></use>
      </svg>
    </button>

    <!-- Delete -->
    <button
      hx-delete="/tasks/{{ .ID }}"
      hx-swap="none"
      hx-confirm="Are you sure you wish to delete your task?"
      class="rounded-full bg-red-100 p-2 hover:bg-red-200"
    >
      <svg class="size-4 text-red-600">
        <use xlink:href="#icon-delete"></use>
      </svg>
    </button>
  </div>
  {{ end }}
</div>
<!-- prettier-ignore -->
{{ end }}
