{{ define "components/input_field" }}
<div class="mb-4">
  <label class="mb-2 block font-bold text-gray-700" for="{{ .ID }}">{{ .Label }}</label>

  <!-- Reset Checkbox -->
  {{ if .ResetLabel }}
  <div class="mb-2">
    <!-- prettier-ignore -->
    <input
      type="checkbox"
      id="reset-{{ .ID }}"
      name="reset-{{ .ID }}"
      class=" focus:outline-none rounded-lg text-blue-500"
      onchange="toggleVisibility(this.checked, '{{ .ID }}');"
      {{ if not .Value }}checked{{ end }}
    />
    <label for="reset-{{ .ID }}" class="text-sm text-gray-600">{{ .ResetLabel }}</label>
  </div>
  <script>
    function toggleVisibility(isChecked, ID) {
      inputElement = document.getElementById("{{ .ID }}");
      groupElement = document.getElementById("input-group-{{ .ID }}");
      if (isChecked) {
        inputElement.dataset.savedValue = inputElement.value;
        setTimeout(() => (inputElement.value = ""), 200);
        groupElement.classList.add("opacity-0", "translate-y-2", "pointer-events-none");
        groupElement.classList.remove("opacity-100", "translate-y-0");
      } else {
        if (inputElement.dataset.savedValue) {
          inputElement.value = inputElement.dataset.savedValue;
        } else if (inputElement.type == "datetime-local") {
          const now = new Date();
          inputElement.value = new Date(now.getTime() - now.getTimezoneOffset() * 60000).toISOString().slice(0, 16);
        } else {
          inputElement.value = "";
        }
        groupElement.classList.add("opacity-100", "translate-y-0");
        groupElement.classList.remove("opacity-0", "translate-y-2", "pointer-events-none");
      }
    }
  </script>
  {{ end }}

  <div
    id="input-group-{{ .ID }}"
    class="flex w-full items-center transition-all duration-200 {{ if and .ResetLabel (not .Value)}}opacity-0 translate-y-2 pointer-events-none {{ end }}"
  >
    <!-- Textarea -->
    {{ if eq .Type "textarea" }}
    <!-- prettier-ignore -->
    <textarea
      id="{{ .ID }}"
      name="{{ .Name }}"
      class="{{if .Class }}{{ .Class }}{{else}}focus:shadow-outline w-full appearance-none rounded-xl border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none focus:ring-1 focus:ring-gray-500{{end}} {{if .Errors}}border-red-500{{end}}"
    >{{ .Value }}</textarea>

    <!-- Checkbox -->
    {{ else if eq .Type "checkbox" }}
    <!-- prettier-ignore -->
    <input
      type="checkbox"
      id="{{ .ID }}"
      name="{{ .Name }}"
      class="{{if .Class }}{{ .Class }}{{else}}focus:shadow-outline rounded-lg text-blue-500 {{end}}"
      {{ if .Value }}checked{{ end }}
    />

    <!-- Select -->
    {{ else if eq .Type "select" }}
    <select
      id="{{ .ID }}"
      name="{{ .Name }}"
      class="{{if .Class }}{{ .Class }}{{else}}focus:shadow-outline w-full appearance-none rounded-xl border border-gray-300 bg-white px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none focus:ring-1 focus:ring-gray-500{{end}} {{if .Errors}}border-red-500{{end}}"
    >
      {{ range .Options }}
      <option value="{{ .ID }}" {{ if eq .ID $.Value }}selected{{ end }}>{{ .Title }}</option>
      {{ end }}
    </select>

    <!-- Color -->
    {{ else if eq .Type "color" }}
    <!-- prettier-ignore -->
    <input
        type="color"
        id="{{ .ID }}"
        name="{{ .Name }}"
        class="{{if .Class }}{{ .Class }}{{else}}focus:shadow-outline w-full h-9 appearance-none rounded-xl border leading-tight bg-white text-gray-700 shadow focus:outline-none focus:ring-1 focus:ring-gray-500{{end}} {{if .Errors}}border-red-500{{end}}"
        value="{{ .Value }}"
      />

    <!-- Input -->
    {{ else }}
    <!-- prettier-ignore -->
    <input
      type="{{ .Type }}"
      id="{{ .ID }}"
      name="{{ .Name }}"
      class="{{if .Class }}{{ .Class }}{{else}}focus:shadow-outline w-full appearance-none rounded-xl border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none focus:ring-1 focus:ring-gray-500{{end}} {{if .Errors}}border-red-500{{end}}"
      value="{{ .Value }}"
      {{ if .Autocomplete }}autocomplete="{{ .Autocomplete }}"{{ end }}
    />
    {{ if eq .Type "datetime-local" }}
    <button
      type="button"
      class="ml-2 rounded bg-blue-500 px-3 py-2 text-xs font-bold text-white shadow hover:bg-blue-700"
      onclick="setNow('{{ .ID }}')"
    >
      Now
    </button>
    <script>
      function setNow(inputId) {
        const input = document.getElementById(inputId);
        if (input) {
          const now = new Date();
          const localDateTime = new Date(now.getTime() - now.getTimezoneOffset() * 60000).toISOString().slice(0, 16);
          input.value = localDateTime;
        }
      }
    </script>
    {{ end}} {{/* if eq .Type "datetime-local" */}}
    <!-- prettier-ignore -->
    {{ end }} {{/* if eq .Type "textarea"... */}}
  </div>

  <!-- Errors -->
  {{ template "components/errors" .Errors}}
</div>
{{ end }}
